$color-mindbody-primary: #0A7C8E;

.dashboard-heading {
    padding-bottom: 25px;

    & .welcome {
        font-size: 36px;
        line-height: 40px;
    }

    & .add-post-button {
        background-color: $color-mindbody-primary;
    }
}
.dashboard-widget {
    box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
    height: 250px;
    background-color: white;

    & .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin: 0px 10px;
    }

    & .header {
        box-shadow: inset 0px -1px 0px rgba(213, 217, 222, 0.5);
        padding: 10px 0;
    }

    & .row {
        margin-right: unset;
        margin-left: unset;
    }

    & .widget-badge {
        background-color: #0A7C8E;
        color: white;
        padding: 1px 6px;
        border-radius: 10px;
        height: 17px;
        font-size: 12px;
    }

    & .to-link a {
        color: $color-mindbody-primary;
    }
}
