@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/regularitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: averta, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F9F9FA;
}

button:disabled {
  opacity: 0.5;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.staff-breadcrumb {
  display: inline-block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/* Navbar */
.navbar {
    background-color: white;
}
.nav-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #252733 !important;
    text-transform: capitalize !important;
}
a.navbar-icon {
    float: left;
    text-align: center;
    padding: 10px;
    color: #6E6B7B !important;
    text-decoration: none;
    font-size: 17px;
}
.navbar-divider {
    position: static;
    border: 1px solid #DFE0EB;
    margin: 0px 15px;
    height: 40px;
}
.current-user-name {
    padding: 0 15px 0 0;
    color: #252733;
}
/* Navbar End */

/* Modal */
.modal-show {
  display: block;
}

/* Modal End */

.staff-on-call-wrapper {
  padding: 25px;
}

/* Profile view start */
.profile-view-wrapper {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(45, 45, 45, 0.2);
  margin-bottom: 12px;

  &.highlighted {
    background-color: #F9F3D9;
  }

  .profile-main {

    h3 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 6px;
      margin-top: 20px;
    }

    h4 {
      font-size: 20px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 0;
    }

    .primary-orange {
      background: #6CBB11;
      padding: 5px 10px;
      border-radius: 27px;
      text-transform: capitalize;
    }
    .primary-blue {
      background: #3AC1FF;
      padding: 5px 10px;
      border-radius: 27px;
      text-transform: capitalize;
    }

    .candidate-specifics {
      margin-bottom: 23px;

      span {
        &.bold {
          font-weight: 700;
        }
      }

      img {
        max-width: 24px;
        margin-right: 10px;
      }
    }

    .candidate-highlight {
      margin-bottom: 20px;

      .bullet {
        background-color: #E5F2F4;
        padding: 8px 16px;
        border-radius: 20px;
        margin-right: 10px;

        .highlight {
          color: #00a60a;
          font-weight: bold;
        }
      }
    }

    .profile-score-wrapper {
      text-align: right;
      position: relative;
      margin-top: 20px;

      .profile-rating {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 148px;

        .highlight-rating {
          font-weight: 600;
          font-size: 32px;
          color: #00AF08;

          .star-icon {
            max-width: 25px;
            margin-right: 2px;
            margin-top: -10px;
          }
        }
      }
      .profile-rating-sub-details {
        font-size: 12px;
        height: 18px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .bio-wrapper {
    margin-bottom: 20px;
  }

  .profile-footer {
    border-top: 1px solid #c4c4c4;
    padding: 10px 8px;

    .footer-col {
      border-right: 1px solid rgba(0,0,0,0.1);
      margin-right: 14px;
      padding-right: 14px;

      img {
        max-width: 24px;
        margin-right: 10px;
      }
    }

    .label-emp {
      font-weight: 700;
    }

    .review {
      color: #0A7C8E;
      font-weight: 700;

      img {
        max-width: 24px;
        margin-left: 10px;
      }
    }
  }
}
/* Profile view end */

/* Gallery start */
.gallery-wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;

  .justify-center {
    margin: 0 auto;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .gallery-image {
    display: inline-block;
    text-align: left;


    img {
      padding: 2px;
      max-width: 168px;
    }
  }

  .full-width-btn {
    width: 100%;
    color: #0A7C8E;
    background-color: #ffffff;
    border: 1px solid #D5D9DE;
    text-transform: capitalize;
  }

}
/* Gallery end */

.staff-head-wrapper {
  margin-bottom: 8px;

  .heading-1 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 2px;
  }

  .btn-light {
    text-transform: capitalize;
    color: #0A7C8E;
    background-color: #ffffff;
    border: 1px solid #0A7C8E;
  }
}

/* Skills start */
.skills-wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .show-skills {
    margin-bottom: 6px;
    padding-left: 0;

    span {
      padding: 8px 16px;
      border: 1px solid black;
      border-radius: 20px;
      margin-right: 8px;
      line-height: 50px;
    }
  }
}

/* Skills end */

/* Social card start */
.social-wrapper {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 16px;

  .social-icon {
    max-width: 46px;
  }

  .username {
    font-size: 16px;
    font-weight: 600;
  }
  .font-light {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  .profile-selector {
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #0A7C8E;
    font-weight: 600;
    cursor: pointer;
  }

  .action-wrapper {
    width: 95%;
  }
}
/* Social card end */

.heading-3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
