@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta/regularitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: averta, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F9F9FA;
}

button, input, optgroup, select, textarea {
  font-family: averta, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

button:disabled {
  opacity: 0.5;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.staff-breadcrumb {
  display: inline-block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/* Navbar */
.navbar {
    background-color: white;
}
.nav-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #252733 !important;
    text-transform: capitalize !important;
}
a.navbar-icon {
    float: left;
    text-align: center;
    padding: 10px;
    color: #6E6B7B !important;
    text-decoration: none;
    font-size: 17px;
}
.navbar-divider {
    position: static;
    border: 1px solid #DFE0EB;
    margin: 0px 15px;
    height: 40px;
}
.current-user-name {
    padding: 0 15px 0 0;
    color: #252733;
}
/* Navbar End */

/* Footer Start */
.footer-link {
    border-right: 1px solid #00000050;
    text-align: center;
    opacity: 60%;
    font-size: 14px;
    color: unset;

    &.no-border {
        border-right: unset;
    }
}
/* Footer End */

/* Modal */
.staff-modal {
  .modal-dialog {
    max-width: 900px;
  }
  &.modal-show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-header {
    background-color: #EEEEEE;

    h5 {
      font-weight: 600;
    }
  }
  .send-email {
    max-width: 26.5px;
  }
  .btn-primary {
    background-color: #0A7C8E;
    text-transform: capitalize;
    border: 1px solid #0A7C8E;
    font-weight: 700;

    img {
      padding-bottom: 2px;
      margin-left: 4px;
    }
  }
  .btn-secondary {
    background-color: #ffffff;
    color: #0A7C8E;
    text-transform: capitalize;
    font-weight: 400;
    border: 1px solid #0A7C8E;
    margin-right: 8px;
  }
  .modal-label {
    color: rgba(0,0,0,0.5);
    font-weight: 700;
    margin-bottom: 16px;
  }
  &.sent-modal {
    .modal-dialog {
      max-width: 510px;

      .email-sent-img {
        max-width: 244px;
      }

      h4 {
        font-size: 24px;
        font-weight: 600;
      }

      .modal-body {
        text-align: center;
        padding-bottom: 0;
      }
      .modal-footer {
        justify-content: center;
        border-top: none;
      }
    }
  }
}
/* Modal End */

.staff-on-call-wrapper {
  padding: 0 25px 25px 25px;
}

.profile-selection-wrapper {
  padding-top: 10px;

  .thumbs-up, .thumbs-down {
    max-width: 40px;
    margin-right: 10px;
    cursor: pointer;
  }
}

/* Profile view start */
.profile-view-wrapper {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(45, 45, 45, 0.2);
  margin-bottom: 12px;

  .img-round {
    max-width: 104px;
    border-radius: 104px;
  }

  .concise-pic-wrapper {
    img {
      margin-top: 20px;
    }
  }

  .profile-main {

    h3 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 6px;
      margin-top: 20px;
    }

    h4 {
      font-size: 20px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 0;
    }

    .primary-orange {
      background: #6CBB11;
      padding: 5px 10px;
      border-radius: 27px;
      text-transform: capitalize;
    }
    .primary-blue {
      background: #3AC1FF;
      padding: 5px 10px;
      border-radius: 27px;
      text-transform: capitalize;
    }

    .candidate-specifics {
      margin-bottom: 23px;
      padding-left: 0;

      span {
        &.bold {
          font-weight: 700;
        }
        .verified-icon {
          max-width: 75px;
        }
      }

      img {
        max-width: 24px;
        margin-right: 10px;
      }
    }

    .profile-score-wrapper {
      text-align: right;
      position: relative;
      margin-top: 20px;

      .profile-rating {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 148px;

        .highlight-rating {
          font-weight: 600;
          font-size: 32px;
          color: #00AF08;

          .star-icon {
            max-width: 25px;
            margin-right: 2px;
            margin-top: -10px;
          }
        }
      }

      &.concise-wrapper {
        .profile-rating {
          right: 20px;
        }
      }

      .profile-rating-sub-details {
        font-size: 12px;
        height: 18px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .bio-wrapper {
    margin-bottom: 20px;
  }

  .profile-footer {
    border-top: 1px solid #c4c4c4;
    padding: 10px 8px;

    .footer-col {
      border-right: 1px solid rgba(0,0,0,0.1);
      margin-right: 14px;
      padding-right: 14px;

      img {
        max-width: 24px;
        margin-right: 10px;
      }
    }

    .label-emp {
      font-weight: 700;
    }

    .review {
      color: #0A7C8E;
      font-weight: 700;

      img {
        max-width: 24px;
        margin-left: 10px;
      }
    }
  }
  .candidate-highlight {
    margin-bottom: 20px;

    .bullet {
      background-color: #E5F2F4;
      padding: 8px 16px;
      border-radius: 20px;
      margin-right: 10px;

      .highlight {
        color: #00a60a;
        font-weight: bold;
      }
    }
  }
}
/* Profile view end */

/* Gallery start */
.gallery-wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 30px;

  .justify-center {
    margin: 0 auto;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .gallery-image {
    display: inline-block;
    text-align: left;


    img {
      padding: 2px;
      max-width: 168px;
    }
  }

  .full-width-btn {
    width: 100%;
    color: #0A7C8E;
    background-color: #ffffff;
    border: 1px solid #D5D9DE;
    text-transform: capitalize;
  }

}
/* Gallery end */

.staff-head-wrapper {
  margin-bottom: 8px;

  .heading-1 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 2px;
  }

  .btn-light {
    text-transform: capitalize;
    color: #0A7C8E;
    background-color: #ffffff;
    border: 1px solid #0A7C8E;
  }
}

/* Skills start */
.skills-wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 16px;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .show-skills {
    margin-bottom: 6px;
    padding-left: 0;

    span {
      padding: 8px 16px;
      border: 1px solid black;
      border-radius: 20px;
      margin-right: 8px;
      line-height: 50px;
    }
  }
}

/* Skills end */

/* Profile bio start */

.profile-bio-wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 16px;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  label {
    color: rgba(0, 0, 0, 0.5);
    width: 180px;
  }
}
/* Profile bio end */

/* Academics card start */
.academics-wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 16px;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  label {
    color: rgba(0, 0, 0, 0.5);
    width: 180px;
  }

  .skill-tag {
    span {
      padding: 8px 16px;
      border: 1px solid black;
      border-radius: 20px;
      margin-right: 8px;
      line-height: 50px;
    }
  }
}
/* Academics card end */

/* Social card start */
.social-wrapper {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 16px;

  .social-icon {
    max-width: 46px;
  }

  .username {
    font-size: 16px;
    font-weight: 600;
  }
  .font-light {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  .profile-selector {
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #0A7C8E;
    font-weight: 600;
    cursor: pointer;
  }

  .action-wrapper {
    width: 95%;
  }
}
/* Social card end */

.heading-3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;

  span {
    font-size: 14px;
    color: #0A7C8E;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
  }
}

/* Core value start */
.core-value-wrapper {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 12px;

  h3 {
    font-size: 20px;
    font-weight: 600;

    span {
      font-size: 16px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      margin-left: 20px;
    }
  }

  .core-value {
    margin-bottom: 12px;

    span img {
      max-width: 20px;
      margin-right: 8px;
      padding-bottom: 2px;
    }
  }

}
/* Core value end */

/* Appointment card start */
.appointment-wrapper {
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0px 1px 3px rgba(45, 45, 45, 0.2);
  border-radius: 3px;
  margin-bottom: 12px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    box-shadow: inset 0px -1px 0px rgba(213, 217, 222, 0.5);
    padding-bottom: 12px;
    padding-left: 12px;

    span {
      font-size: 14px;
      font-weight: 400;
      color: #0A7C8E;
      cursor: pointer;
      float: right;
      padding-right: 20px;
    }
  }

  .sec-heading {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .calendar-wrapper {
    display: flex;
    justify-content: center;

    .react-calendar__tile--active {
      background-color: #0A7C8E;
      border-radius: 24px;
    }

    .react-calendar {
      width: 100%;
      border: none;

      .react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
        display: none;
      }
      .react-calendar__navigation {
        .react-calendar__navigation__arrow {
          border: 1px solid #E5F2F4;
          color: #696C74;
          font-size: 30px;
        }
      }

      .react-calendar__month-view__weekdays__weekday {
        abbr {
          text-transform: capitalize;
          text-decoration: none;
        }
      }

    }
  }

  .short-list-wrapper {
    text-align: center;

    button {
      background-color: #0A7C8E;
      text-transform: capitalize;
      color: #ffffff;
    }
  }
}
/* Appointment card end */

/* Custom checkbox start */
.custom-checkbox {
  margin-bottom: 10px;

  .custom-control-input:checked~.custom-control-label::before {
    background-color: #0A7C8E;
  }
}
/* Custom checkbox end */
