html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

/* Navbar */
.nav-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #696C74 !important;
    text-transform: capitalize !important;

    border-left: 1px solid #696C74;
    border-radius: unset !important;
}
/* Navbar End */

/* Modal */
.modal-show {
  display: block;
}

/* Modal End */

.profile-view-wrapper {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(45, 45, 45, 0.2);
  margin-bottom: 12px;

  &.highlighted {
    background-color: #F9F3D9;
  }

  .profile-main {
    padding: 24px;

    .profile-img {
      max-width: 116px;
      margin-left: 20px;
    }

    .social-wrapper {
      text-align: center;
      margin-top: 23px;
      font-size: 24px;
      color: #999;
    }

    h3 {
      color: #0A7C8E;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 13px;
    }

    .primary-orange {
      background: #6CBB11;
      padding: 5px 10px;
      border-radius: 27px;
      text-transform: capitalize;
    }
    .primary-blue {
      background: #3AC1FF;
      padding: 5px 10px;
      border-radius: 27px;
      text-transform: capitalize;
    }

    .candidate-specifics {
      margin-bottom: 23px;

      span {
        font-weight: 700;
      }
    }

    .candidate-label {
      opacity: 0.3;
      font-weight: 700;
    }

    .profile-score-wrapper {
      text-align: right;
    }
  }

  .profile-footer {
    border-top: 1px solid #c4c4c4;
    padding: 10px 8px;

    .footer-col {
      border-right: 1px solid rgba(0,0,0,0.1);
      margin-right: 14px;
      padding-right: 14px;
    }

    .label-emp {
      font-weight: 700;
    }

    .review {
      color: #0A7C8E;
      font-weight: 700;
    }
  }
}
